@font-face {
    font-family: 'Roboto';
    src: url('Roboto-ThinItalic-webfont.eot');
    src: url('Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-ThinItalic-webfont.woff') format('woff'),
         url('Roboto-ThinItalic-webfont.ttf') format('truetype'),
         url('Roboto-ThinItalic-webfont.svg#RobotoThinItalic') format('svg'); (under the Apache Software License). 
    font-weight: 200;
    font-style: italic;
}
body {
    background-color: #3b3c3d;
    color: white;
    margin: 0;
    height: 100vh;
}

/* header */
.top {
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    
}

.left-logo {
    font-weight: 900;
    font-size: 32px;
    padding: 10px;
}

.right-links {
    display: flex;
    padding: 20px;
    gap: 20px;
}

/*container*/
.container {
    display: flex;
    padding: 40px;
    align-items: flex-start;
    justify-content: center;
    background-color: #1f2937;
}

.left-container {
    padding: 30px;
}

.containerheader {
    font-size: 48px;
    font: 800;
    margin-bottom: 10px;
    color: #f9faf8;
}
.subheader {
    font-size: 18px;
    color: #e5e7eb;
}
.containerbutton {
    background-color: rgb(0, 119, 255);
    color: whitesmoke;
    padding: 5px 30px;
    border-radius: 8px;
    border-color: #1f2937;
    margin-top: 10px;
}

img {
    max-width: 100%;
    height: 300px;
    width: 600px;
    border-radius: 10px;

}

.right-container {
    padding: 40px;
}

/*random info section*/
ul {
    list-style: none;
    
}
.container2 {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-container {
    display: flex;
    justify-content: center;
    column-gap: 42px;

}

.subitem {
    width: 200px;
    height: 150px;
}

.row {
    font-weight: 900;
    font-size: 36px;
    color: #1F2937;
}
/*Quote box*/

.container3 {
    display: flex;
    padding:  50px 200px;
    flex-direction: column;
    background-color:#e5e7eb;
}

.cell-1 {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    flex: 1;
}

.cell-2 {
    display: flex;
    padding: auto 200px;
    justify-content: flex-end;
    font-size: 36px;
    font-style: bold;
    color: #1f2937;
}

/* call to action box*/
.container4 {
    display: flex;
    padding:  50px 0px;
    justify-content: center;
    align-items: stretch;
}

.cell-left, .cell-5 {
    padding: 30px;
    background-color: rgb(0, 119, 255);
    
}
.cell-left {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.cell-5 {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.cell-right {
    background-color: rgb(0, 119, 255);
    color: whitesmoke;
    padding: 5px 30px;
    border-radius: 8px;
    border-color: white;
}
.cell-3 {
    font-weight: bold;
    font-size: 20px;
}
/* Footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: #1f2937;
}